{% extends "base.html" %}
{% load static %}

{% block page_title %}
All leads
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'crm/leads.css' %}?v=4" />
{% endblock %}

{% block content %}
<section class="page">

    <header class="page-header">
        <div>
            <h1 class="page-title">All leads</h1>
            <p class="page-subtitle">A simple overview of your pipeline.</p>
            <a href ="{% url 'create' %}"  class="create-btn"> Create Lead </a>
        </div>
    </header>

    <div class="leads-list">
        {% for lead in leads %}
            {% include "crm/includes/lead-item.html"%}
        {% endfor %}
    </div>
<section>

{% endblock %}