{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block page_title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'app.css' %}?v=10" />
    {% block css_files %}

    {% endblock %}
  </head>
  <body>
    <nav class="topbar">
      <div class="topbar-inner">
        <a class="brand" href="{% url 'home' %}">AI CRM</a>
        {% if user.is_authenticated %}
        <div class="nav-links">
          <a href="{% url 'dashboard' %}">Dashbord</a>
          <a href="{% url 'leads' %}">Leads</a>
        </div>
        {% endif %}

        <div class="auth-links">
          {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="logout-form">
              {% csrf_token %}
              <a href="{% url 'profile' %}" class="nav-link-btn">Profile</a>
              <button type="submit" class="nav-link-btn">Logout</button>
            </form>
          {% else %}
            <a href="{% url 'login' %}" class="nav-link-btn">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block content %}

    {% endblock %}
  </body>
</html>
